.canvas-container {
  position: relative;
  width: 100%;
  height: 28px; /* Adjust the height as needed */
}

.waveform, .markerMask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Both canvases should have the same size */
}
