
<div class="home-container">
    <app-player></app-player>
</div>
<mat-card class="home-card">
    <mat-card-title-group>
        <mat-card-title>
            <h1 class="header">SAMSON</h1>
        </mat-card-title>
        <mat-card-subtitle>
            <p class="subtitle">simple drum track player with curated beats.</p>
        </mat-card-subtitle>
        <img class="flipped-image" mat-card-xl-image src="samson.png">
    </mat-card-title-group>
    <mat-card-content>
        <p class="paragraph">
            <mat-icon color="primary">casino</mat-icon>
            <span class="icon-text">Add random track or choose one from the table!</span>
        </p>
        <p class="paragraph">
            <mat-icon color="warn">accessibility_new</mat-icon>
            <span class="icon-text">Pose to control the player hands-free!</span>
        </p>
        <p class="paragraph">
            <mat-icon color="accent">favorite</mat-icon>
            <span class="icon-text">Favourite the tracks you love!</span>
        </p>
    </mat-card-content>
    
    
</mat-card>



